.kanban-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  background: white;
  margin-bottom: 0.5rem;

  .kanban-header__title {
    width: 100%;
    padding: 1rem 0rem;
    border: solid 1px #bebaba;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
    font-weight: 500;
  }
  .title_backlog {
    border-top-left-radius: 5px;
  }
  .title_done {
    border-top-right-radius: 5px;
  }
}
