.kanban-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 0.5rem;

  .kanban-header__title {
    width: 100%;
    padding: 1rem 0rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.8rem;
    font-weight: 600;
  }
  .title_backlog {
    border-top-left-radius: 5px;
  }
  .title_done {
    border-top-right-radius: 5px;
  }
}
