.form {
  padding: 40px;

  width: 40vw;
  max-height: 50vh;
  min-height: 10vh;
}

.title {
  margin-bottom: 50px;
  border-radius: 10px;
  input {
    font-size: 20px;
  }
}
.description {
  width: 100%;
  max-width: 100%;
  min-width: 100%;

  min-height: 6vh;
  max-height: 20vh;

  display: flex;
  align-items: center;

  font-size: 20px;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid white;
}
.description:focus {
  outline: none;
  border: 2px solid lightgrey;
}
.description:hover {
  border: 2px solid lightgray;
}
