$active: rgb(255, 59, 59);
$disable: grey;

.ticket {
  background: white;
  padding: 0px 20px 20px 20px;
  margin: 20px 0px;
  border-radius: 15px;
  cursor: pointer;
}
.ticketActive {
  border: 2px solid $active;
  border-left: 6px solid $active;
}
.ticketDisable {
  border: 2px solid $disable;
  border-left: 6px solid $disable;
  opacity: 0.4;
}

.title {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
}

.status {
  width: 50%;
  display: flex;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 30px 5px 0px 5px;
}

.panel {
  width: 40%;
}
.panel > div {
  margin-right: 10px;
}

.labelText {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 500;
}

.active {
  color: $active;
}
.disable {
  color: $disable;
}
