$active: rgb(255, 59, 59);
$disable: grey;

.ticket {
  background: white;
  min-width: 400px;
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  cursor: pointer;
}

.active {
  border: 2px solid $active;
  border-left: 6px solid $active;
}

.disable {
  border: 2px solid $disable;
  border-left: 6px solid $disable;
  opacity: 0.4;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 20px;
  margin-bottom: 10px;
}

.status {
  width: 50%;
  padding: 6px;
  display: flex;

  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.footer {
  width: 40%;
}
.label_text {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 500;
}

.text_active {
  color: $active;
}
.text_disable {
  color: $disable;
}

.delete {
  padding: 10px;
  cursor: pointer;
  border: none;
  background: none;
  img {
    width: 20px;
  }
}
.delete:hover {
  opacity: 0.8;
}
