@mixin borderRed {
  border: 1px solid rgb(231, 48, 15);
  border-left: 4px solid rgb(231, 48, 15);
}

.ticket {
  background: white;
  padding: 20px 20px;
  margin: 20px 0px;
  border-radius: 5px;
  cursor: pointer;
}
.ticket > div {
  margin: 10px 0px;
}

.statusWrapper {
  display: flex;
}
.title {
  font-size: 20px;
  font-weight: 400;
}

.status {
  font-size: 20px;
}
.done {
  color: lightgray;
}
.make {
  color: rgb(219, 153, 153);
}

.panel {
  width: 40%;
  display: flex;
}
.panel > div {
  margin-right: 10px;
}
.red {
  @include borderRed();
}
