.board {
  background: rgb(255, 255, 255);
  padding: 20px;
  width: 100%;
  max-width: 50%;
  min-height: 50vh;
  margin-left: 10px;
  border-radius: 10px;
  flex-shrink: 1;
  font-size: 16px;
}
.board__head {
  font-size: 20px;
  width: 60%;
}
