.board {
  background: rgb(234, 237, 247);
  margin: 10px;
  width: 50%;
  min-height: 50vh;
  border-radius: 10px;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 1;
}
