.kanban__body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: white;
  border: solid 1px #bebaba;
  border-radius: 5px;

  .kanban__body__element {
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 8.5rem;
  }

  .kanban__body__backlog {
    .ticket {
      background-image: linear-gradient(to right, #e45754 0%, #b6100d 100%);
    }
    .ticket:hover {
      background-position: right center;
      color: #fff;
    }
  }
  .kanban__body__progress {
    .ticket {
      background-image: linear-gradient(to right, #f19f3a 0%, #c97003 100%);
    }
    .ticket:hover {
      background-position: right center;
      color: #fff;
    }
  }
  .kanban__body__done {
    .ticket {
      background-image: linear-gradient(to right, #8ac06b 0%, #36830c 100%);
    }
    .ticket:hover {
      background-position: right center;
      color: #fff;
    }
  }
}
.ticket {
  margin: 0.8rem;
  width: 90%;
  height: 7rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  background-size: 200% auto;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-weight: 600;
  font-size: 1.25rem;
}
.ticket_add {
  opacity: 0.5;
  font-size: 2rem;
  font-weight: 600;
  border: none;
}
