.ticketWrapper {
  margin: 0.8rem;
  padding: 0.5rem;
  width: 40%;
  cursor: pointer;
}

.ticketWrapper:hover {
  background: rgb(233, 233, 233);
}

.ticket__title {
  font-weight: 600;
  word-wrap: break-word;
}

.ticket__description {
  font-weight: 400;
  word-wrap: break-word;
}
