.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.modalWrapper {
  width: 90%;

  p {
    font-size: 1rem;
    color: grey;
    font-weight: 600;
  }
}
.modal__btnWrapper {
  display: flex;
  justify-content: space-evenly;
}
.modal__input__wrapper {
  display: flex;
  justify-content: center;
  width: 90%;
}
.modal__exit {
  display: flex;
  justify-content: right;
  button {
    padding: 0.5rem 0.75rem;
  }
}
