.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.modalWrapper {
  width: 90%;
}
.modal__input__wrapper {
  color: rgb(141, 141, 141);
}
.modal__input__title {
  width: 95%;
  font-size: 2rem;
  border: solid 2px #dfdddd;
  border-radius: 10px;
  padding: 0.75rem;
  margin-bottom: 2rem;
}
.modal__input__description {
  width: 95%;
  font-size: 1.5rem;
  border: solid 2px #dfdddd;
  border-radius: 10px;
  padding: 0.75rem;
  margin-bottom: 4rem;
}

.modal__btnWrapper {
  display: flex;
  justify-content: space-evenly;
}
.modal__exit {
  display: flex;
  justify-content: right;
  button {
    padding: 0.5rem 0.75rem;
  }
}
