.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.modalWrapper {
  width: 90%;

  p {
    font-size: 1rem;
    color: grey;
    font-weight: 600;
  }
}
.modal__btnWrapper {
  display: flex;
  justify-content: space-evenly;
}
.modal__input__wrapper {
  display: flex;
  justify-content: center;
  width: 95%;
  textarea {
    width: 100%;
    min-height: 120px;
    max-height: 270px;
    min-width: 560px;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    border: solid 2px #dfdddd;
    border-radius: 10px;
    padding: 0.75rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 400;
  }
}
.modal__exit {
  display: flex;
  justify-content: right;
  button {
    padding: 0.5rem 0.75rem;
  }
}
