.kanban {
  padding: 30px;
}

.boardWrapper {
  display: flex;
  justify-content: space-between;
}
.boardWrapper > div:first-child {
  margin-right: 10px;
  margin-left: 0px;
}

.search {
  width: 100%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;

  .search__inp {
    width: 60%;
    border: none;
    padding: 15px;
    border-radius: 10px;
    background: #ecebeb;
    font-size: 16px;
  }
}
